<!-- about.html -->
{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
<div class="about-desc">
<h1>About Steam-ify your DLC</h1>
<p><br/><p>
<p>This application accepts a single user's Steam ID and predicts whether or not the individual would enjoy the selected game's expansion given the expansion's (DLC) info such as price and release date. Play around with it and have fun! <i class="material-icons" style="display: inline-flex; vertical-align: middle">videogame_asset</i></p>
<p>This product uses the <a href="https://developer.valvesoftware.com/wiki/Steam_Web_API">Steam API</a> to retrieve games owned by the user in real-time and uses a pre-trained Random Forest algorithm to make the prediction. More details on the data-pipeline is shown in the slides below.</p>
<p><br/><p>
<div class="about-slides">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSYDOGPgT-zvftj40BRo9uY3b6QT4YezgWW3ws1bm1mAjwyt5BtGHgE5YUPI04eCG-yFP1XxpyItx8L/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="360" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<p>This product was built as a part of my <a href="http://insightdatascience.com/" target="_blank">Insight Data Science</a> program.</p>
</div>
</div>
{% endblock %}
